
header {
    height: 100px;
}

main {
    background-color: #7fffd4;
    height: calc( 100vh - 180px);
}

footer {
    height: 80px;
}

div div.casella {
    height: 50px;
    width: 50px;
    background-color: red;
}