
header {
    height: 100px;
}

main {
    background-color: #7fffd4;
    height: calc( 100vh - 180px);
}

footer {
    height: 80px;
}

div div.casella {
    border: 2px solid purple;
    text-align: center;
    width: calc(100% / 10);
    background-color: red;
}

.custom-align-center {
    align-items: center;
}

#booleanLogo {
    height: 100%;
}

#gameArea {
    height: 500px;
    width: 500px;
}